@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	--cor-principal: pink;
	--cor-destaque: #ff5361;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}
